header {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.gioHang a {
  font-size: 30px;
  color: orange;
}
table {
  width: 100%;
  color: white;
}
nav {
  /* background-color: transparent; */
  /* background-color: rgba(255, 255, 255, 0.452); */
}
#cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.562);
  z-index: 1;
  display: none;

  transition: all 5s;
  position: fixed;
}
#cart_in {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.884);
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  z-index: 2;
  color: white;

  padding: 20px 0;
}
#cart h3 {
  color: orange;
}

.img_giohang {
  max-width: 70px;
}
#cart button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: orange;
  background-color: black;
}
#cart button:focus {
  outline: none;
}
.close:hover {
  color: orange;
}
.close {
  float: right;
  font-weight: 700;
  line-height: 1;
}
thead th {
  padding-bottom: 15px;
}
#cart .btnTinhTien {
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 51%, #00dbde 100%);
  background-position: left;
  background-size: 200%;
  border: none;
  transition: all 0.5s;
}
#cart .btnTinhTien:hover {
  background-position: right;
}
#loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
